body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  background-color: rgb(238, 198, 211);
}

header {
  background-color: palevioletred;
  color: white;
  font-size: 45px;
  font-weight: bolder;
  text-align: center;
}

h1 {
  text-align: center;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}

.container {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}



button {
  display: inline-block;
  border: solid 1px rgb(233, 85, 110);
  background-color: rgb(233, 85, 110);
  color: white;
  font-weight: bold;
  padding: 0.8%;
}

button:hover {
  background-color: rgb(236, 162, 175);
  border: solid 1px  rgb(236, 162, 175);
}